#main{
    height: 900px;
    width: 1200px;
    margin: auto;
    margin-top: 200px;
    display:flex; 
    justify-content:center; 
    align-items:center;
    border: 2px solid black;
}
#gameContent{
    height: 900px;
    width: 1150px;
}
#content{
    margin: auto;
    height: 670px;
    width: 1000px;
}
.boxList{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    height: 200px;
    width: 270px;
    border: 1px solid black;
    background-color: rgb(224, 224, 224);
    float: left;
    position: static;
}
.hole{
    border: 1px solid black;
    border-radius: 50%;
    height: 80px;
    width: 99%;
    background-color: rgb(78, 49, 6);
    position: relative;
    top: 80px;
}
#scoreList{
    height: 150px;
    width: 1000px;
    display: inline-block;
}
#scoreList #score{
    font-size: 30px;
    height: 20px;
}
#scoreList #chageBestScore{
    font-size: 20px;
    height: 20px;
}
#close{
    float: right;
    width: 130px;
    height: 100px;
    font-size: 50px;
    text-align: right;
    cursor: pointer;
}
#start{
    font-size: 50px;
    text-align: center;
}
.display-none{
    display: none;
}
.display-first{
    width: 400px;
    height: 350px;
    border: 1px solid black;
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 42%;
    margin-left: -50px; 
    margin-top: -50px;
    background-color: white;
}
#modalPage .textSize{
    font-size: 30px;
    text-align: center;
}
.modalBtn{
    background-color: white;
    width: 80px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-left: 65px;
    margin-right: 40px;
    cursor: pointer;
}
.modalBtn2{
    background-color: white;
    width: 80px;
    height: 40px;
    font-size: 50px;
    text-align: center;
    margin-left: 65px;
    margin-right: 40px;
    border: none;
    cursor: pointer;
}
.box{
    position: relative
}
.mole{
    position: absolute;
    bottom: 5%;
    left: 22%;
    cursor: pointer;
}
.gameOver{
    font-size: 35px;
    text-align: center;
}
.score-text{
    font-size: 40px;
    text-align: center;
}
.best-text{
    font-size: 30px;
    text-align: center;
}
